@model IEnumerable<CineM8.Models.ReservationWithDetails>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>


<table class="table">
    <tr>
        <th>
            Film
        </th>
        <th>
            Ora incepere
        </th>
        <th>
            Ora sfarsit
        </th>
        <th>
            Sala
        </th>
        <th>
            Nr. locuri
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MovieName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HallNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfSeats)
    </td>
</tr>
    }

</table>
